<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h2> Camect - Satel Integra Bridge setup </h2>
        <hr>
        <h3> Camect URL: {{camect_url}} </h3>
        <h3> Camect password: {{admin_pwd}} </h3>
        <h3> Satel Integra IP: {{integra_ip}} </h3>
        <h3> Partitie naam: {{partition_name}} </h3>
        <h3> Zone naam: {{zone_name}} </h3>
        <h3> Zone inverse: {{inverse_zone}} </h3>
        <hr>

        <p align="left"><a href=setup ><button class=grey style="height:50px;width:100px">Configuration</button></a></p>
    </body>
</html>
